<ion-item col-12>
  <ion-label>Selecione a peça</ion-label>
  <select-searchable
    headerColor="default_"
    #portComponent
    item-content
    [focusSearchbar]="true"
    itemValueField="_id"
    [(ngModel)]=selectedItem
    itemTextField="name"
    [items]="products"
    [canSearch]="true"
    [canClear]="false"
    (onChange)="portChange($event)"
    (onAddItem)="portChange($event)"
    (onSaveItem)="onSavePort($event)"
    (onSearchFail)="onSearchFail($event)"
    (onSearchSuccess)="onSearchSuccess($event)"
    searchPlaceholder="Digite o nome/modelo exato">
    <ng-template selectSearchableItemTemplate let-product="item">
      {{product.name}}
    </ng-template>
    <ng-template selectSearchableAddItemTemplate let-product="item">
      <form [formGroup]="portForm" novalidate>
        <ion-list>
          <ion-item>
            <h2>Adicionar <b>{{portComponent.searchText}}</b></h2>
            <!-- <ion-input
              type="text"
              formControlName="portName"
              autocorrect="off"
              autocapitalize="none">
            </ion-input> -->
          </ion-item>
        </ion-list>
      </form>
      <ion-footer>
        <ion-toolbar>
          <ion-row>
            <ion-col col-12>
              <button ion-button color="default_" full no-margin (click)="addPort($event)" >
                Adicionar
              </button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </select-searchable>
</ion-item>
<ion-item  *ngIf="showHistory" >
  <button ion-button icon-left col-12 clear item-end (click)="showHistoryModal()"  >
    <ion-icon name="md-analytics"></ion-icon>
    Histórico de Preços
  </button>
</ion-item>
