<ion-content>

  <div [@flyInBottomFast]="logoFundo" id="logo-fundo" >
    <div class="top-row" >
      <ion-row  justify-content-center>
        <ion-col align-self-center>
          <img [@flyInBottomSlow]="logoPrincipal" src="assets/img/logo_grande.png" class="logo" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list inset [@bounceInBottom]="formState">
            <form [formGroup]="formLogin" >
              <ion-item class="keywords">
                <!-- <ion-label><ion-icon name="person"></ion-icon></ion-label> -->
                <ion-input type="text" formControlName="id" placeholder="Número da agência" [class.invalid-form-field]="!formLogin.controls.id.valid && (formLogin.controls.id.dirty || submitAttempt)" ></ion-input>
              </ion-item>

              <ion-item class="keywords">
                <!-- <ion-label><ion-icon name="key" ></ion-icon></ion-label> -->
                <ion-input formControlName="password" type="password" placeholder="Senha" [class.invalid-form-field]="!formLogin.controls.password.valid && (formLogin.controls.password.dirty || submitAttempt)"></ion-input>
              </ion-item>

              <p *ngIf="submitAttempt" style="color: #ea6153;">Preencha todos os campos corretamente</p>
              <ion-row margin-top>
                <button  ion-button round  ion-button block (click)="login()" class="btn-login">Entrar</button>
              </ion-row>

              <!-- <hr class="separador" margin-top>
              <ion-row margin-top>
                <button  ion-button round  ion-button block (click)="login()" color="light">Solicitar Acesso</button>
                <button  ion-button round  ion-button block (click)="login()" color="light">Esqueci minha senha</button>
              </ion-row> -->

              <!-- <ion-row margin-top>
                <ion-col class="login-button" >
                  <button round class="social-button-facebook" id="facebook" ion-button block (click)="facebookLogin()">Entrar com Facebook</button>
                  <div class="social-wrap a">
                  </div>
                </ion-col>
              </ion-row> -->
            </form>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>

  </div>

  <!-- <div class="loginOptions keywords">
    <ion-grid [@bounceInBottom]="formState">
      <ion-row>
        <ion-col col-6 (click)="forgotPassword()"><p>Esqueci minha senha</p></ion-col>
        <ion-col col-6 (click)="createNewAccount()"><p>Criar conta</p></ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
</ion-content>
<!--
<ion-content class="login-content" padding>
  <div class="top-row">
    <ion-row>
      <div class="bg-imag">
        <img src="img/buffon.png" height="500px"/>
      </div>
      <ion-col>
        <h1 class="label-logo"><img src="img/logo.png" width="200"></h1>
        <p class="label-description">Tenha acesso exclusivo a serviços e promoções da rede Buffon.</p>
      </ion-col>
    </ion-row>
  </div>
  <div class="bottom-row">
  <form (ngSubmit)="login()" #registerForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset >

          <ion-item>
            <ion-label><ion-icon name="person" color="dark"></ion-icon></ion-label>
            <ion-input type="text" placeholder="Email" name="email"  required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label><ion-icon name="key" color="dark"></ion-icon></ion-label>
            <ion-input type="password" placeholder="Password" name="password"  required></ion-input>
          </ion-item>

          <div class="social-wrap a">
            <button ion-button full id="login" [disabled]="!registerForm.form.valid">Login</button>
          </div>
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid" >Login</button>
          <button ion-button class="submit-btn" full type="submit" (click)="login()">Login</button>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
  <ion-row >
    <ion-col class="login-button">
      <div class="social-wrap a">
        <button class="social-button-facebook" id="facebook" ion-button block (click)="facebookLogin()">Facebook Login</button>
      </div>
    </ion-col>
  </ion-row>
  </div>
</ion-content> -->
