<ion-card>
    <ion-card-header class="keywords">
      Adcionais
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-row *ngFor="let addtional of addtionals " margin-vertical>
          <ion-col col-8>
              <h3>{{addtional.name}} - {{addtional.price  | currency:'BRL':true:'1.2-2'}}</h3>
              <p *ngIf="addtional.description != null " >{{addtional.description}}</p>
          </ion-col>
          <ion-col col-4  align="right">
              <ion-icon name="remove-circle" color="danger" class="buttonQtdLess" (click)="removeAdditional(addtional)" ></ion-icon>
              {{addtional.amount}}
              <ion-icon name="add-circle" color="secondary" class="buttonQtdAdd" (click)="addAdditional(addtional)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
</ion-list>
</ion-card>
