page-make-payment-2 {
  ion-badge{
    padding: 12px;
  }
  .header-date{
    border-bottom: 2px solid #dddddd !important;
  }
  ion-chip{
    background-color: #f3f3f3 !important;
    margin: 5px !important;
    border: 1px solid #d8d8d8;;
  }
  ion-chip ion-icon{
    font-size: 30px;
    color: #ee1b1b;
  }
}
