<ion-header >
    <ion-navbar color="default_">
      <ion-buttons left>
          <button ion-button menuToggle >
              <ion-icon color="light" name="menu"></ion-icon>
            </button>
        </ion-buttons>

      <ion-title class="logo-header" class="keywords" >
        <img src="assets/img/logo_grande.png" style="max-height: 40px" />
      </ion-title>

      <!-- <span *ngIf="user.access != 1" >
        <ion-buttons end  block >
          <button ion-button (click)="showChats($event)" >
            <ion-icon name="chatbubbles"></ion-icon>
            <ion-badge class="badge-home" item-end>{{countUnreadChats()}}</ion-badge>
          </button>
          <button ion-button (click)="showNotifications($event)" >
            <ion-icon name="notifications"></ion-icon>
            <ion-badge class="badge-home" item-end>{{notifications | async}}</ion-badge>
          </button>
        </ion-buttons>
      </span> -->
    </ion-navbar>
  </ion-header>


<ion-content >
  <ion-card  (click)="openCalendar()">
    <ion-list>
      <button ion-item>
        Adicionar datas de acerto
        <ion-icon name="calendar" item-end></ion-icon>
      </button>
    </ion-list>
  </ion-card>

  <p padding-left *ngIf="payment.days.length > 0" >Períodos selecionados</p>

  <ion-list >
    <ion-card *ngFor="let day of payment.days" margin-top >
      <ion-item  class="header-date">
          {{day.day_selected   | amDateFormat: 'DD/MM/YYYY'}}
          <ion-badge item-end color="light" (click)="addAdjust(day,$event)" >Adicionar Ajuste</ion-badge>
        </ion-item>
        <ion-chip  *ngFor="let note of day.notes"  >
          <ion-label (click)="editAdjust(note,day,$event)">{{note.value | moneyPipe}}</ion-label>
          <button ion-button clear color="light" (click)="deleteAdjust(note,day)">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-chip>
        <!-- <ion-list >
            <ion-item-sliding #slidingItem *ngFor="let note of day.notes"  >
              <ion-item #item (click)="openOption(slidingItem, item)">
                <h2>{{note.value | moneyPipe}}</h2>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button color="primary" (click)="editAdjust(note,day,$event)">
                  <ion-icon name="create"></ion-icon>
                  Editar
                </button>
                <button ion-button color="danger" (click)="deleteAdjust(note,day)">
                  <ion-icon name="close"></ion-icon>
                  Deletar
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list> -->
      </ion-card>
    </ion-list>
    <span *ngIf="payment.days.length > 0" >
      <button ion-button color="default_" full (click)="sendPayment()" *ngIf="!edit"  >
        Salvar
      </button>
      <button ion-button color="default_" full (click)="editPayment(payment._id)" *ngIf="edit">
        Salvar Ediçao
      </button>
    </span>

</ion-content>
