page-payment-detail {
  .payment-history{
    border-top: 1px solid #d0d0d0;
    padding: 10px 0px 10px 0px;
  }
  .media{
    padding-left:10px;
    padding-top:10px;
  }
  .media img{
    border:3px solid #000000;
    width:75px;
    height:75px;
    border-radius:15px;
  }
}
