<ion-header>
  <ion-navbar color="default_">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>


    <ion-title class="logo-header" >
      <img src="assets/img/logo_grande.png" style="max-height: 40px" />
    </ion-title>
    <ion-buttons end  (click)="openCalendar()">
      <button ion-button  >
        <ion-icon color="light" name="options"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let payment of payments" margin-top (click)="seePayment(payment)">
      <ion-item>
        <b>{{payment.value | CurrencyFormat}}</b>
        <br>
        <span>{{payment.type | CaptalizeFirstLetter}} - {{payment.createdAt | amDateFormat: 'DD/MM/YYYY'}}</span>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(nextPage())">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
