<ion-header>
  <ion-navbar color="default_">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>


    <ion-title class="logo-header" >
      <img src="assets/img/logo_grande.png" style="max-height: 40px" />
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>
  <ion-grid>
      <ion-row no-padding no-margin>
        <span *ngFor="let item of payment?.media;let iPic = index" class="media" [attr.data-index]="iPic">
          <img src="{{item.url}}-thumb" (click)="viewPicPayment(iPic,payment.media)" />
          <p align="center">{{item.authentication}}</p>
          <!-- <img-loader src="{{item}}" useImg></img-loader> -->
        </span>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <span><b>Período</b></span>
        </ion-col>
        <ion-col col-9 >
          <span *ngFor="let day of payment?.days; let lst = last; ">
            {{day.day_selected | amDateFormat: 'DD/MM/YYYY'}}<span *ngIf="!lst">, <br></span>
          </span>
        </ion-col>
      </ion-row>

    <ion-row>

      <ion-col col-3>
        <span><b>Depósito</b></span>
      </ion-col>
      <ion-col col-9>
        <span>{{payment?.value | CurrencyFormat}}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3>
        <span><b>Tipo</b></span>
      </ion-col>
      <ion-col col-9>
        <span>{{payment?.type | CaptalizeFirstLetter}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="payment?.derivation" >
      <ion-col col-3>
        <span *ngIf="payment?.type == 'intermunicipal' " ><b>DVP</b></span>
        <span *ngIf="payment?.type == 'encomendas' "><b>DVE</b></span>
      </ion-col>
      <ion-col col-9>
        <span>{{payment?.derivation | CaptalizeFirstLetter}}</span>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col col-3>
        <span><b>Histórico</b></span>
      </ion-col>
      <ion-col col-9>
        <span *ngFor="let history of payment?.history" >{{history.status | statusPipe}} - {{history.date | amDateFormat: 'DD/MM/YYYY'}}<br></span>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-3>
          <span ><b>ID</b></span>
        </ion-col>
        <ion-col col-9>
          <span>{{payment?._id}}</span>
        </ion-col>
      </ion-row>

  </ion-grid>
</ion-card>

<ion-card *ngFor="let day of payment?.days" >
  <ion-card-header>
    <ion-icon name="calendar" item-start></ion-icon>
    {{day.day_selected | amDateFormat: 'DD/MM/YYYY'}}
  </ion-card-header>
  <ion-card-content>
    <ion-list *ngFor="let note of day.notes" class="payment-history" >

        <ion-row>
          <ion-col col-5>
            <span><b>Depósito</b></span>
          </ion-col>
          <ion-col col-7>
            <span>{{note?.value | CurrencyFormat}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-5>
            <span><b>Tipo</b></span>
          </ion-col>
          <ion-col col-7>
            <span>{{note?.type | CaptalizeFirstLetter}}</span>
          </ion-col>
        </ion-row>

        <span *ngIf="note?.justification" >
          <hr>
          <ion-col col-12>
            <span>{{note?.justification | CaptalizeFirstLetter}}</span>
          </ion-col>
        </span>

        <ion-row no-padding no-margin>
          <span *ngFor="let item of note?.media;let iPic = index" class="media" [attr.data-index]="iPic">
            <img   src="{{item}}" (click)="viewPicNote(iPic,note.media)" />
          </span>
        </ion-row>

    </ion-list>
  </ion-card-content>
</ion-card>
<!--
      <ion-item>
        <p text-wrap>Período <label>12/10/2039, 12/10/2039, 12/10/2039, 12/10/2039</label></p>
        <p>Depósito <label>{{payment?.value | CurrencyFormat}}</label></p>
        <span>{{payment?.type | CaptalizeFirstLetter}} - {{payment?.createdAt | amDateFormat: 'DD/MM/YYYY'}}</span>
      </ion-item>
     -->

</ion-content>
