<ion-header>
  <ion-navbar color="default_">
      <ion-title class="logo-header" class="keywords">Histórico de Preços </ion-title>
      <ion-buttons start >
        <button ion-button (click)="dismiss()">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content>
  <ion-row>

    <ion-col col-12>
        <ion-card-content >
          <div  class="chart" *ngIf="statusOrdersData && statusOrdersData.length > 0">
            <canvas baseChart [datasets]="statusOrdersData"
            [labels]="orderPerDayLabel"
            [options]="lineChartOptions"
            chartType=line ></canvas>

          </div>


        </ion-card-content>
    </ion-col>
  </ion-row>
</ion-content>
