page-make-payment {
  .gallery-button {
    margin: 15px 0px 15px 0px;
    width: 100%;
    position: relative;
    font-size: 25px;
    color: #fff;
    border-bottom: 2px solid #efefef;
  }
  ion-icon[name="images"] {
    border: #FFFFFF 2px solid;
    border-radius: 50%;
    background-color: #2155AA;
    font-size: 35px;
    padding: 15px;
  }

  // .media{
  //   margin: 15px 0px 15px 0px;
  // }
  .media{
    padding:10px;
    // padding-top:10px;
  }
  .media img, .media ion-spinner{
    border:3px solid #000000;
    width:75px;
    height:75px;
    border-radius:15px;
  }
  .delete-icon{
    // position: absolute;
    // top: 5px;
    background-color: #ffff;
    // right: 5px;
    border-radius: 60px;
    padding: 0px 3px 0px 3px;
    // border: 1px solid #313131;
    font-size: 20px;
  }
  .delete-icon ion-icon{
    margin: 4px;
    color: #313131;
  }
  input, ion-input,ion-select{
    border-bottom: 1px solid #e6e5e5;
  }
  ion-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
  }

}
