<ion-header >
  <ion-navbar color="default_">
    <ion-buttons left>
        <button ion-button menuToggle >
            <ion-icon color="light" name="menu"></ion-icon>
          </button>
      </ion-buttons>

    <ion-title class="logo-header" class="keywords" >
      <img src="assets/img/logo_grande.png" style="max-height: 40px" />
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content >
  <!-- <img #croppie="croppie" crossorigin="anonymous" [croppieOptions]="croppieOptions" (update)="handleUpdate($event)" /> -->

  <ion-card color="danger" *ngIf="payment.status == 'rejected'" >
    <ion-card-header>
      Pagamento Rejeitado
    </ion-card-header>
    <ion-card-content>
      {{justification}}
    </ion-card-content>
  </ion-card>
  <ion-card>

    <div class="gallery-button"  text-center [class.invalid-form-field]="!paymentForm.controls.media.valid && (paymentForm.controls.media.dirty || submitAttempt)">
      <span >
        <ion-icon name="images" (click)="addMedia()"></ion-icon>
        <p>Adicionar foto do comprovante</p>
      </span>

      <!-- <ion-row no-padding no-margin  float-left>
        <ion-col class="media" col-2 margin-top>
          <div class="delete-icon"  >
            <ion-icon name="trash"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="media" col-5>
          <img src="tem.url}}-thumb"  />
        </ion-col>
        <ion-col col-5 margin-top>
          <h2>Autenticação</h2>
          <h5>item.authentication}}</h5>
        </ion-col>
      </ion-row> -->


      <ion-row no-padding no-margin *ngFor="let item of payment.media;let iPic = index" >
        <ion-col  col-1 margin-top [attr.data-index]="iPic" >
          <div class="delete-icon"  (click)="deleteMedia(iPic)" >
            <ion-icon name="trash"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="media" col-4>
          <img src="{{item.url}}-thumb" (click)="viewPic(iPic)" />
        </ion-col>
        <ion-col col-7 text-left margin-top (click)="changeAuth(item,iPic)" >
            <h2 style="color:#084D8A">Número Documento</h2>
            <h5 style="color:#525252">{{item.authentication}}</h5>
          </ion-col>


      </ion-row>
    </div>

    <form [formGroup]="paymentForm" (ngSubmit)="checkForm()">
      <!-- [(ngModel)]="payment.value"  -->
      <ion-item [class.invalid-form-field]="!paymentForm.controls.value.valid && (paymentForm.controls.value.dirty || submitAttempt)">
        <ion-label class="keywords" floating>Valor do depósito</ion-label>
        <ion-input
          [ngModel]="payment.value"
          (ngModelChange)="payment.value = formatMoney($event)"
          (keypress)="numberOnly($event)"
          formControlName="value" type="tel" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating class="keywords" >Tipo</ion-label>
        <ion-select [(ngModel)]="payment.type"  cancelText="Cancelar" formControlName="type" (ionChange)="onSelectChange($event)" [class.invalid-form-field]="!paymentForm.controls.type.valid && (paymentForm.controls.type.dirty || submitAttempt)">
          <ion-option  value="intermunicipal">Intermunicipal</ion-option>
          <ion-option  value="interestadual">Interestadual</ion-option>
          <ion-option  value="encomendas">Encomendas</ion-option>
        </ion-select>
      </ion-item>

      <span *ngIf="payment.type == 'intermunicipal' || payment.type == 'encomendas' " >
        <ion-item class="keywords" [class.invalid-form-field]="!paymentForm.controls.derivation.valid && (paymentForm.controls.derivation.dirty || submitAttempt)">
          <ion-label floating class="keywords" *ngIf="payment.type == 'intermunicipal'"  >DVP</ion-label>
          <ion-label floating class="keywords" *ngIf="payment.type == 'encomendas'">DVE</ion-label>
          <ion-input
            [ngModel]="payment.derivation"
            (ngModelChange)="payment.derivation = formatNumber($event)"
            (keypress)="numberOnly($event)"
            formControlName="derivation" type="tel"></ion-input>
        </ion-item>
      </span>

      <ion-row >
        <ion-item >
          <button ion-button icon-left clear item-end color="default_" type="submit">
            PRÓXIMO
          </button>
        </ion-item>
      </ion-row>

    </form>

  </ion-card>

    <input type="file" id="filePicker" accept="image/*" style="display:none" (change)="handleFileSelect($event)">

    <p *ngIf="submitAttempt" style="color: #ea6153;" padding>
      Preencha todos os campos
        <li *ngIf="payment.type == 'intermunicipal' && !paymentForm.controls.derivation.valid && (paymentForm.controls.derivation.dirty || submitAttempt)">DVP</li>
        <li *ngIf="payment.type == 'encomendas' && !paymentForm.controls.derivation.valid && (paymentForm.controls.derivation.dirty || submitAttempt)">DVE</li>
        <li *ngIf="!paymentForm.controls.value.valid && (paymentForm.controls.value.dirty || submitAttempt)">Valor do depósito</li>
        <li *ngIf="!paymentForm.controls.type.valid && (paymentForm.controls.type.dirty || submitAttempt)">Tipo</li>
        <li *ngIf="!paymentForm.controls.media.valid && (paymentForm.controls.media.dirty || submitAttempt)">Fotos</li>
    </p>


</ion-content>
