<ion-header>
  <ion-navbar color="default_">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="logo-header" class="keywords">Endereço</ion-title>

  </ion-navbar>
</ion-header>
<ion-content>

  <ion-list>
    <form [formGroup]="form" class="keywords">

      <ion-card>
        <ion-card-header class="keywords">
          Endereço completo
        </ion-card-header>

        <ion-grid>

          <ion-row>
            <ion-col col-6 col-sm>
              
                <ion-row>
                  <ion-col col-6>
                    <ion-item>
                      <ion-label floating>CEP</ion-label>
                      <ion-input type="text" formControlName="postal_code"></ion-input>
                      <button ion-button icon-right color="primary" (click)="searchCEP(form.value.postal_code)" item-end>
                        Buscar
                        <ion-icon name="search"></ion-icon>
                      </button>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-8>
                    <ion-item>
                      <ion-label floating>Rua</ion-label>
                      <ion-input type="text" formControlName="name" (ionBlur)="updateMap(form.value)"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col>
                    <ion-item>
                      <ion-label floating>Número</ion-label>
                      <ion-input type="number" formControlName="num" (ionBlur)="updateMap(form.value)"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-item>
                  <ion-label floating>Complemento</ion-label>
                  <ion-input type="text" formControlName="complement"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label floating>Bairro</ion-label>
                  <ion-input type="text" formControlName="neighborhood" (ionBlur)="updateMap(form.value)"></ion-input>
                </ion-item>

                <ion-row>
                  <ion-col col-8>
                    <ion-item>
                      <ion-label floating>Cidade</ion-label>
                      <ion-input type="text" formControlName="city" (ionBlur)="updateMap(form.value)"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col>
                    <ion-item>
                      <ion-label floating>Estado</ion-label>
                      <ion-input type="text" formControlName="state" (ionBlur)="updateMap(form.value)"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

            </ion-col>
            <ion-col col-6 col-sm>
              <input id="pac-input" class="controls" type="text" placeholder="Procurar..">
              <div #map id="map"></div>
              <div class="infobox-wrapper">
                <div id="infobox">
                </div>
              </div>

            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>

      <p *ngIf="submitAttempt" style="color: #ea6153;">Preencha todos os campos corretamente</p>

      <button ion-button full color="primary" (click)="form.valid && save(form.value)" >Confirmar</button>

    </form>
  </ion-list>

</ion-content>