page-address{
    #map {
        width: 100%;
        height: 70vh;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        padding: 10px;
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        color: black;
        font-weight: 300;
        margin-top: 5px;
        margin-left: 12px;
        text-overflow: ellipsis;
        width: 300px;
        border: solid 2px #fff;
        border-radius: 4px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }
}
