page-home {
  .dash-user-info p ion-icon{
    margin: 4px;
    color: #ffca02;
  }
  .big-card {
    padding:15px 0px !important;
  }
  .big-card .card-header{
    font-size: 18px !important;
  }
  .menu ion-card{
    min-height: 12vh;
    line-height: 20vh;
    padding: 0 0 0 0 !important;
    margin:  0 0 0 0 !important;
  }
  ion-content{
    // background: color($colors, login, base);
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
    background-color: #f1f1f1 !important ;
  }
  .btn-payment{
    background-color: #19A39C;
    color: #fff;
  }
  #map {
    width: 100%;
    height: 70vh;
  }

  .menu-item {
    height: 13vh;
    &.img-bg {
        background-size: cover;
    }
    label {
      display: block;
      padding-top: 5px;
      color: #676767;
    }
    ion-icon {
        font-size: 30px;
    }
  }

  .badge-home{
    background-color: #ffca02!important;
    color: #006600!important;
  }

  .image-avatar{
    margin: 8px 16px 8px 0;
  }

  .image-avatar img{
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
  }

  .button-map{
    border-radius: 4px;
    height: 1.8em;
    font-size: 1.2rem;
    color: #fff;
    background-color: #387ef5;
    margin: .4rem .2rem;
    padding: 0 1em;
  }

  #map h2{
    font-size: 1.4rem;
  }
  #map h4{
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
  }
  #map p{
    margin: 0px;
  }
  #map .row{
    display: flex;
  }

  .order-list{
    max-height: 100px;
    justify-content: start;
    flex-wrap: wrap;
    display: flex;
    padding: 5px;
  }

  .order-item{
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    flex-direction: column;
    display: flex;
  }

  .order-item-button{
    align-items: flex-end;
    flex: auto;
    display: flex;
  }

  ion-modal {
    padding: 30px;
    background: rgba(0,0,0,0.5);
}
}
