<ion-header >
  <ion-navbar color="default_">
    <ion-buttons left>
        <button ion-button menuToggle >
            <ion-icon color="light" name="menu"></ion-icon>
          </button>
      </ion-buttons>

    <ion-title class="logo-header" class="keywords" >
      <img src="assets/img/logo_grande.png" style="max-height: 40px" />
    </ion-title>

    <ion-buttons end  (click)="refresh(null)">
      <button ion-button  >
        <ion-icon color="light" name="refresh"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content >
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-row>
    <ion-card class="big-card btn-payment" color="dark"  >
      <ion-card-header  (click)="makePayment()" >
        Informar Pagamento
      </ion-card-header>
    </ion-card>

  <ion-card class="big-card">
    <ion-card-header (click)="seePayments()">
      Consultar Pagamentos
    </ion-card-header>
  </ion-card>
</ion-row>

<p padding-left >Pendentes</p>
  <ion-list >
    <ion-card  *ngFor="let payment of payments"  margin-top >
      <ion-item  (click)="editPayment(payment)" >
        <b>{{payment.value | moneyPipe}}</b>
        <ion-badge item-end color="danger" *ngIf="payment.status == 'rejected'"  >{{payment.status | statusPipe}}</ion-badge>
        <ion-badge item-end color="default_" *ngIf="payment.status != 'rejected'" >{{payment.status | statusPipe}}</ion-badge>
        <p text-capitalize>{{payment.type | CaptalizeFirstLetter}} - {{payment.createdAt | amDateFormat: 'DD/MM/YYYY'}}</p>
      </ion-item>
      </ion-card>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="$event.waitFor(nextPage())">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

</ion-content>
