<div class="gallery-button"  text-center>
  <ion-icon name="images" (click)="addMedia()"></ion-icon>
  <p>Adicionar Mídia</p>
  <ion-row no-padding no-margin>
    <ion-col col-4 *ngFor="let item of _imageArray;let iPic = index" class="media" [attr.data-index]="iPic">
      <div class="delete-icon" (click)="deleteMedia(iPic)" >
        <ion-icon name="trash"></ion-icon>
      </div>
      <img   src="{{item}}" (click)="viewPic(iPic)" />
    </ion-col>
  </ion-row>
</div>
<input type="file" id="filePicker_" accept="image/*" style="display:none" (change)="handleFileSelect($event)">
