<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="default_">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item (click)="openPage(pages[0])" menuClose>
        Home
        <ion-icon name="home" item-end></ion-icon>
      </ion-item>
      <ion-item (click)="openPage(pages[1])" menuClose>
        Informar Pagamento
        <ion-icon name="ios-add-circle-outline" item-end></ion-icon>
      </ion-item>
      <ion-item (click)="openPage(pages[2])" menuClose>
        Consultar Pagamento
        <ion-icon name="search" item-end></ion-icon>
      </ion-item>

    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-list (click)="logout()">
        <button menuClose ion-item>
          Sair
        </button>
    </ion-list>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
