<ion-header >
    <ion-navbar color="default_">
      <ion-buttons left>
          <button ion-button (click)="close()"  >
              <ion-icon color="light" name="close"  style="font-size: 20px"></ion-icon>
            </button>
        </ion-buttons>
      <ion-buttons right>
          <button ion-button (click)="save()"  >
              <ion-icon color="light" name="checkmark" style="font-size: 30px"></ion-icon>
            </button>
        </ion-buttons>

      <ion-title class="logo-header" class="keywords" >
        <img src="assets/img/logo_grande.png" style="max-height: 40px" />
      </ion-title>

    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-item *ngIf="page == 'payment'" >
    <ion-label floating>Número do Documento</ion-label>
    <ion-input type="number" [(ngModel)]="authNumber"  ></ion-input>
  </ion-item>
<ion-item>
  <img #croppie="croppie" margint-top [croppieOptions]="croppieOptions" (update)="handleUpdate($event)" />
</ion-item>
  <!-- <button ion-button block (click)="save()" *ngIf="showButton()" >Salvar</button> -->


</ion-content>
