page-notes-pop-over {
  .gallery-button {
    margin: 5px 0px 5px 0px;
    width: 100%;
    position: relative;
    font-size: 15px;
    border-bottom: 2px solid #efefef;
  }
  ion-icon[name="images"] {
    color: #fff;
    border: #FFFFFF 2px solid;
    border-radius: 50%;
    background-color: #2155AA;
    font-size: 35px;
    padding: 10px;
  }
  .media{
    padding:10px;
    // padding-top:10px;
  }
  .media img, .media ion-spinner{
    border:3px solid #000000;
    width:50px;
    height:50px;
    max-height:50px;
    max-width:50px;
    border-radius:15px;
  }
  .delete-icon{
    // position: absolute;
    // top: 5px;
    background-color: #ffff;
    // right: 5px;
    border-radius: 60px;
    padding: 0px 3px 0px 3px;
    // border: 1px solid #313131;
    font-size: 20px;
  }
  .delete-icon ion-icon{
    margin: 4px;
    color: #313131;
  }

  ion-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  img{
    max-height: 50px;
    width: 100%;
  }
  input, ion-input,ion-select{
    border-bottom: 1px solid #e6e5e5;
  }
  ion-scroll { white-space: nowrap; }
  ion-popover{
    overflow-y: scroll !important;
  }
  .error-form{
    padding-bottom: 100px;
  }
}
