<ion-content [ngClass]="{'error-form' : submitAttempt && !noteForm.controls.value.valid }"  >
  <ion-scroll scrollY="true">
  <form [formGroup]="noteForm" (ngSubmit)="checkForm($event,{cancel: false})">

    <div class="gallery-button"  text-center>
      <ion-icon name="images" (click)="addMedia()"></ion-icon>
      <p>Adicionar Mídia</p>
      <ion-row no-padding no-margin>
        <span *ngFor="let item of note.media;let iPic = index" class="media" [attr.data-index]="iPic">
          <div class="delete-icon" (click)="deleteMedia(iPic)" >
            <ion-icon name="trash"></ion-icon>
          </div>
          <img src="{{item}}-thumb" (click)="viewPic(iPic,note.media)" />
        </span>
        <!-- <span *ngIf="loadingImg"  class="media" >
          <div class="delete-icon"  >
            <ion-icon name="trash"></ion-icon>
          </div>
          <ion-spinner></ion-spinner>
        </span> -->
      </ion-row>
    </div>

    <ion-item [class.invalid-form-field]="!noteForm.controls.value.valid && (noteForm.controls.value.dirty || submitAttempt)">
      <ion-label floating  class="keywords" >Valor do ajuste</ion-label>
      <ion-input [(ngModel)]="note.value"
        formControlName="value"
        type="tel"
        [ngModel]="note.value"
        (ngModelChange)="note.value = formatMoney($event)"
        (keypress)="numberOnly($event)"
        ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating class="keywords" >Tipo de ajuste</ion-label>
      <ion-select [(ngModel)]="note.type" cancelText="Cancelar" formControlName="type" [class.invalid-form-field]="!noteForm.controls.type.valid && (noteForm.controls.type.dirty || submitAttempt)">
        <ion-option  value="Cartão">Cartão</ion-option>
        <ion-option  value="Comissão">Comissão</ion-option>
        <ion-option  value="Devolução">Devolução</ion-option>
        <ion-option  value="Outros">Outros</ion-option>
      </ion-select>
    </ion-item>

    <ion-item [class.invalid-form-field]="!noteForm.controls.justification.valid && (noteForm.controls.justification.dirty || submitAttempt)">
      <ion-label floating  class="keywords" >Justificativa</ion-label>
      <ion-input [(ngModel)]="note.justification"  formControlName="justification"   type="text"></ion-input>
    </ion-item>



    <p *ngIf="submitAttempt" style="color: #ea6153;" padding>
        Preencha todos os campos
          <li *ngIf="!noteForm.controls.value.valid && (noteForm.controls.value.dirty || submitAttempt)">Valor do depósito</li>
          <li *ngIf="!noteForm.controls.type.valid && (noteForm.controls.type.dirty || submitAttempt)">Tipo</li>
          <li *ngIf="!noteForm.controls.justification.valid && (noteForm.controls.justification.dirty || submitAttempt)">Justificativa</li>
      </p>

    <ion-row >
      <ion-item >
        <button (click)="close()" type="button" ion-button icon-left clear item-end color="default_" style="padding: 20px;">
          CANCELAR
        </button>
          <button ion-button icon-left item-end color="primary" style="padding: 20px;" type="submit">
            OK
          </button>
      </ion-item>
    </ion-row>

  </form>
  </ion-scroll>

</ion-content>
<input type="file" id="imagePicker" accept="image/*" style="display:none" (change)="handleFileSelect($event)">
